body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.uniq {
  background-color: white;
}
.uniq::backdrop {
  background-color: orange;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 100;
  font-display: swap;
  src: local('Work Sans'), local('Work Sans'),
  url('fonts/work-sans.woff2') format('woff2'),           /* Super Modern Browsers */
  url('fonts/work-sans.woff') format('woff'),             /* Modern Browsers */
  url('fonts/work-sans.ttf') format('truetype');          /* Safari, Android, iOS */
}

/*@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");*/
